body { 
  margin: 0; 
  padding: 0;
  background-color: orange; }

.loginbox{
  background-color: white;
  width:30%;
  margin: auto;
  margin-top:5rem;
  padding: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border: slategray 4px solid;


}

input{
  padding:.5rem;
  background-color: peachpuff;
  text-transform: uppercase;
  border: grey 2px solid;
  border-radius: 10px;
  margin: 1rem;
}

button{
  padding:.5rem;
  background-color: tomato;
  width: 25%;
  border: rgb(63, 62, 62) 2px solid;
  border-radius: 10px;
  margin-top:1rem;
}